*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  font-size: 62.5%;
  height: 100%;
  max-width: 100%;
  background: #222;
  color: #ddd ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}
main{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
button{
  border: none;
  padding: 1.4rem 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1.75rem;
  z-index: 100;
  position: relative;
}
button:hover{
  transform: scale(1.03);
  border: 1px solid greenyellow;
  cursor: pointer;
  background-color: black;
  color: white;
  box-shadow: 0 6px 20px rgba(173, 255, 47, 0.3);
}


button:active {
  transform: translateY(0);
  scale: 0.95;
}
div{
  border-radius: 50%;
  display: flex;
  aspect-ratio: 1 / 1;
}